.zigzag-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.zigzag-line {
    position: absolute;
    background: #ffeb3bad;
}

/* Ліва сторона - вертикальні зигзаги */
.zigzag-left-1 {
    width: 3px;
    height: 120%;
    top: -10%;
    left: 10%;
    transform: rotate(0deg);
    clip-path: polygon(0% 0%, 100% 10%, 0% 20%, 100% 30%, 0% 40%, 100% 50%, 0% 60%, 100% 70%, 0% 80%, 100% 90%, 0% 100%);
    opacity: 0.4;
}

.zigzag-left-2 {
    width: 2px;
    height: 110%;
    top: -5%;
    left: 20%;
    transform: rotate(0deg);
    clip-path: polygon(0% 0%, 100% 8%, 0% 16%, 100% 24%, 0% 32%, 100% 40%, 0% 48%, 100% 56%, 0% 64%, 100% 72%, 0% 80%, 100% 88%, 0% 96%, 100% 100%);
    opacity: 0.3;
}

/* Права сторона - вертикальні зигзаги */
.zigzag-right-1 {
    width: 3px;
    height: 130%;
    top: -15%;
    right: 15%;
    transform: rotate(0deg);
    clip-path: polygon(0% 0%, 100% 12%, 0% 24%, 100% 36%, 0% 48%, 100% 60%, 0% 72%, 100% 84%, 0% 96%, 100% 100%);
    opacity: 0.4;
}

.zigzag-right-2 {
    width: 2px;
    height: 100%;
    top: 0;
    right: 25%;
    transform: rotate(-3deg);
    clip-path: polygon(0% 0%, 100% 15%, 0% 30%, 100% 45%, 0% 60%, 100% 75%, 0% 90%, 100% 100%);
    opacity: 0.3;
}

/* Верх - горизонтальні зигзаги */
.zigzag-top {
    width: 120%;
    height: 3px;
    top: 25%;
    left: -10%;
    transform: rotate(0deg);
    clip-path: polygon(0% 0%, 10% 100%, 20% 0%, 30% 100%, 40% 0%, 50% 100%, 60% 0%, 70% 100%, 80% 0%, 90% 100%, 100% 0%);
    opacity: 0.3;
}

/* Низ - горизонтальні зигзаги */
.zigzag-bottom {
    width: 130%;
    height: 2px;
    bottom: 30%;
    left: -15%;
    transform: rotate(2deg);
    clip-path: polygon(0% 0%, 8% 100%, 16% 0%, 24% 100%, 32% 0%, 40% 100%, 48% 0%, 56% 100%, 64% 0%, 72% 100%, 80% 0%, 88% 100%, 96% 0%, 100% 100%);
    opacity: 0.4;
}